*{
    box-sizing: border-box;
    margin: 0;
}

.cabeza a{
    background-color:black;
    color: white;
    text-decoration: none;
    float: left;
    width: 100%;
    padding: 20px;
    font-family: cursive;
}

#tabla{
    background-color: antiquewhite;
    text-decoration-line: underline;
}
